{% extends 'front.html.twig' %}

{% block title %}Versements {{ contract.name }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Période</th>
                        <th scope="col">Description</th>
                        <th scope="col">Prévu</th>
                        <th scope="col">Facturé</th>
                        <th scope="col">Reçu</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for income in incomes %}
                        <tr>
                            <td>{{ income.period|format_date(locale='fr', pattern='MMMM yyyy')|capitalize }}</td>
                            {% if income.id %}
                                <td>{{ income.description }}</td>
                                {% if not income.isPlanned %}
                                    <td class="bg-secondary"></td>
                                {% elseif income.planned is null %}
                                    <td class="fst-italic text-muted">N/A</td>
                                {% else %}
                                    <td>
                                        {{ income.planned }}
                                        {% if contract.account.individualPrice %}
                                            x {{ contract.account.individualPrice }}
                                        {% endif %}
                                        €
                                    </td>
                                {% endif %}

                                {% if not income.isBilled %}
                                    <td class="bg-secondary"></td>
                                {% elseif income.billed is null %}
                                    <td class="fst-italic text-muted">N/A</td>
                                {% else %}
                                    <td>
                                        {{ income.billed }}
                                        {% if contract.account.individualPrice %}
                                            x {{ contract.account.individualPrice }}
                                        {% endif %}
                                        €
                                    </td>
                                {% endif %}

                                {% if not income.isReceived %}
                                    <td class="bg-secondary"></td>
                                {% elseif income.received is null %}
                                    <td class="fst-italic text-muted">N/A</td>
                                {% else %}
                                    <td>
                                        {{ income.received }}
                                        {% if contract.account.individualPrice %}
                                            x {{ contract.account.individualPrice }}
                                        {% endif %}
                                        €
                                    </td>
                                {% endif %}
                            {% else %}
                                <td colspan="4" class="fst-italic text-center text-muted">Pas de versement</td>
                            {% endif %}
                            <td>
                                {% if income.id %}
                                    <div class="d-grid">
                                        <div class="btn-group">
                                            <a href="{{ path('app_income_edit', {'id': income.contract.id, 'period': income.period|date('Y-m')}) }}" class="btn btn-success">
                                                <i class="fas fa-pencil"></i>
                                            </a>
                                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ income.period|date('Y-m') }}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                        {% include 'income/_delete_form.html.twig' %}
                                    </div>
                                {% else %}
                                    <div class="d-grid">
                                        <a href="{{ path('app_income_edit', {'id': income.contract.id, 'period': income.period|date('Y-m')}) }}" class="btn btn-primary">
                                            <i class="fas fa-plus"></i>
                                            Ajouter
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-end">Total</td>
                        <td>
                            {% if contract.account.individualPrice %}
                                {{ totalPlanned }} x {{ contract.account.individualPrice }}
                            {% else %}
                                {{ totalPlanned }}
                            {% endif %}
                            €

                            {% if offsetPlanned != 0 %}
                                (+ {{ offsetPlanned }}
                                {% if not contract.account.individualPrice %}
                                    €
                                {% endif %}
                                )
                            {% endif %}
                        </td>
                        <td
                            {% if totalBilled > totalPlanned %}
                                class="bg-danger text-white"
                            {% elseif totalBilled < totalPlanned %}
                                class="bg-success"
                            {% endif %}
                        >
                            {% if contract.account.individualPrice %}
                                {{ totalBilled }} x {{ contract.account.individualPrice }}
                            {% else %}
                                {{ totalBilled }}
                            {% endif %}
                            €

                            {% if offsetBilled != 0 %}
                                (+ {{ offsetBilled }}
                                {% if not contract.account.individualPrice %}
                                    €
                                {% endif %}
                                )
                            {% endif %}
                        </td>
                        <td
                            {% if totalReceived > totalPlanned %}
                                class="bg-success"
                            {% elseif totalReceived < totalPlanned %}
                                class="bg-danger text-white"
                            {% endif %}
                        >
                            {% if contract.account.individualPrice %}
                                {{ totalReceived }} x {{ contract.account.individualPrice }}
                            {% else %}
                                {{ totalReceived }}
                            {% endif %}
                            €

                            {% if offsetReceived != 0 %}
                                (+ {{ offsetReceived }}
                                {% if not contract.account.individualPrice %}
                                    €
                                {% endif %}
                                )
                            {% endif %}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}

