<div class="modal fade" id="deleteModal-{{ contract.id }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ contract.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteModalLabel-{{ contract.id }}">
                    Supprimer le contrat {{ contract.name }}
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p>Etes vous sur de vouloir supprimer ce contrat ?</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <form method="post" action="{{ path('app_contract_delete', {'id': contract.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contract.id) }}">
                    <button class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
