{% extends 'front.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <contract-form
                    :accounts="{{ accounts|serialize('json', { groups: 'account:read' }) }}"
                    :contract="{{ form.vars.data|serialize('json', { groups: 'contract:read' }) }}"
                    :errors="{
                        name: '{{ form.name.vars.errors|serialize('json') }}',
                        monthly_amount: '{{ form.monthly_amount.vars.errors|serialize('json') }}',
                    }"
                ></contract-form>
                {% do form.name.setRendered %}
                {% do form.account.setRendered %}
                {% do form.start.setRendered %}
                {% do form.end.setRendered %}
                {% do form.monthly_amount.setRendered %}
                {% do form.billing_delayed.setRendered %}
                {% do form.reception_delayed.setRendered %}

                <div class="row">
                    <div class="col-6 d-grid">
                        <a href="{{ path('app_contract_index') }}" class="btn btn-secondary">Annuler</a>
                    </div>
                    <div class="col-6 d-grid">
                        <input type="submit" class="btn btn-primary" value="{{ button_label|default('Sauvegarder') }}"/>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}