{% extends 'front.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-3">
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-9">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <hr/>

                {{ form_row(form.description) }}

                <transaction-lines
                    :accounts="{{ accounts|serialize('json', { groups: 'account:read' }) }}"
                    :errors="{{ transactionLineErrors|serialize('json') }}"
                    :transactions="{{ form.vars.data.transactionLines|serialize('json', { groups: 'transaction:read' }) }}"
                ></transaction-lines>
                {% do form.transactionLines.setRendered %}
                <hr/>

                <div class="row">
                    <div class="col-6 d-grid">
                        <a class="btn btn-secondary" href="{{ path('app_transaction_index') }}">
                            Retour
                        </a>
                    </div>
                    <div class="col-6 d-grid">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
