{% extends 'front.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block javascripts %}
    <script type="module">
        $(document).ready(function() {
            function addRemoveButtonListeners() {
                const btns = $('.remove-line');

                btns.off('click');
                btns.click(function () {
                    $(this).parents().eq(2).remove();
                });
            }

            const transactionLinesElm = $('#{{ form.transactionLines.vars.id }}');
            const prototype = transactionLinesElm.data('prototype');

            let index = {{ form.vars.value.transactionLines|length }};
            $('#addTransaction').click(function() {
                transactionLinesElm.append(prototype.replace(/__name__/g, index++));
                addRemoveButtonListeners();

                return false
            });
            addRemoveButtonListeners();

            const row_labels = $("<div class='row'><div class='col-3'><label class='form-label required'>Compte</label></div><div class='col-7'><label class='form-label required'>Montant</label></div></div>");
            transactionLinesElm.prepend(row_labels);
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-3">
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-9">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <hr/>

                {{ form_row(form.transactionLines) }}
                <div class="d-grid">
                    <button id="addTransaction" class="btn btn-success">
                        <i class="fas fa-plus"></i>
                        Ajouter une ligne
                    </button>
                </div>
                <hr/>

                <div class="row">
                    <div class="col-6 d-grid">
                        <a class="btn btn-secondary" href="{{ path('app_transaction_index') }}">
                            Retour
                        </a>
                    </div>
                    <div class="col-6 d-grid">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
